
:root {
  --font-mono: 'Roboto Mono', monospace;

  --primary: #016630;
  --primary-light:#00A63E;
  --secondary-main:#abd5b4ff;
  --secondary-light:#E3FCEB;
  --bg-white:#fff;
  --bg-grey:#F9FAFB;
  --bg-gradient-start:#EBFDF1;
  --bg-gradient-stop:#E1FDEB;
  --primary-foreground: oklch(1 0 0);
  --secondary: #231F20;
  --secondary-foreground: #030213;
  --footer-divider:#364153;
  --header-divider:#dededeff;
  --shadow:rgba(0,0,0,0.5);

}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 32px;

  margin: 0;

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}
